*{margin:0;padding: 0;box-sizing: border-box;}

html{
    font-size: 62.5%;
}
 
.AboutAcontainer{
    width:100%;
    height:70rem;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: white;
}

.AboutAchield{width:110rem;
    height:58rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
       
}

.AboutAimg{width:100%;
height:auto;}

.AboutAimg img{
    width:46rem;
    max-width:46rem ;
    min-width: 30rem;
    height: 56rem;
    object-fit: cover;
    border-left:2rem solid red;
    border-top:2rem solid red;   
}

.AboutAtitle{
    width:96rem;
    height:50rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto 0;
    position: relative;
}

.AboutAtitle h1{  font-size: 3.5rem; 
     color: #2c234d;
    font-weight: 900;
    text-transform: uppercase;
    font-stretch:semi-expanded;
    line-height: 4.5rem;
}
.AboutAtitle p{font-size: 1.8rem; margin-bottom: 1rem;text-transform: capitalize;}
.AboutAtitle h2{font-size:2.3rem; color:tomato;
position: relative;}
.AboutAtitle h4{font-size:1.6rem;text-align: justify;
    text-transform: capitalize;}
.AboutAtitle h2 .beforeAbout {padding-right: 8rem;}

.AboutAtitle .beforeAbout::before{
    width:6.7rem;
    height:.3rem;
    content:"";
    display: block;
    position: absolute;
    top:1.7rem;
    background-color: tomato;
    

}


/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */


/* +++++++  MEDIA SCREEN MAX-WIDTH = 1230PX  +++++++++ */

@media (max-width: 1230px) {
    html {
      font-size: 56.25%;
    }

    
.AboutAcontainer{
    width:100%;
    height:68rem;
}

.AboutAchield{width:102rem;
    height:56rem;
    margin: auto;
     
}

.AboutAimg img{
    width:43rem;
    max-width:43rem ;
    min-width: 10rem;
    height: 55rem;
    object-fit: cover;
    border-left:1.9rem solid red;
    border-top:1.9rem solid red;   
}

.AboutAtitle{
    width:94rem;
    height:48rem ;
    
}
.AboutAtitle h1{  
    font-size: 3.3rem; 
   font-weight: 900;
   line-height: 4.2rem;
}

.AboutAtitle p{font-size: 1.7rem; margin-bottom: 1rem;}
.AboutAtitle h4{font-size:1.6rem;}
.AboutAtitle h2{font-size:2.2rem;}
.AboutAtitle h2 .beforeAbout {padding-right: 8rem;}  
.AboutAtitle .beforeAbout::before{
    width:6.7rem;
    height:.3rem;
    top:1.8rem;
}

}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 1110PX  +++++++++ */

@media (max-width: 1110px) {
    
.AboutAcontainer{
    width:100%;
    height:62rem;
}

.AboutAchield{width:93rem;
    height:54rem;
    margin: auto;
      
}

.AboutAimg img{
    width:40rem;
    max-width:40rem ;
    min-width: 10rem;
    height: 51rem;
    object-fit: cover;
    border-left:1.8rem solid red;
    border-top:1.8rem solid red;   
}

.AboutAtitle{
    width:90rem;
    height:45rem ;
}
.AboutAtitle h1{  
    font-size: 3.3rem; 
   font-weight: 1000;
   line-height: 4rem;
}

.AboutAtitle p{font-size: 1.6rem; margin-bottom: 1rem;}
.AboutAtitle h4{font-size:1.6rem;}
.AboutAtitle h2{font-size:2.2rem;}
.AboutAtitle h2 .beforeAbout {padding-right: 8rem;}  
.AboutAtitle .beforeAbout::before{
    width:6.4rem;
    height:.3rem;
    top:1.7rem;
}

}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 999PX  +++++++++ */

@media (max-width: 999px) {
    
    .AboutAcontainer{
        width:100%;
        height:57rem;
    }
    
    .AboutAchield{width:82rem;
        height:50rem;
        margin: auto;  
         
    }
    
    .AboutAimg img{
        width:36rem;
        max-width:36rem ;
        min-width: 10rem;
        height: 48rem;
        object-fit: cover;
        border-left:1.7rem solid red;
        border-top:1.7rem solid red;   
    }
    
    .AboutAtitle{
        width:86rem;
        height:42rem ;
        
    }
    .AboutAtitle h1{  
        font-size: 3rem; 
       line-height: 3.7rem;
    }
    
    .AboutAtitle p{font-size: 1.5rem; margin-bottom: 1rem;}
    .AboutAtitle h4{font-size:1.5rem;}
    .AboutAtitle h2{font-size:2rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 7rem;}  
    .AboutAtitle .beforeAbout::before{
        width:6rem;
        height:.2.4rem;
        top:1.5rem;
    }
    
    }



    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 893PX  +++++++++ */

@media (max-width: 893px) {
    
    .AboutAcontainer{
        width:100%;
        height:49rem;
    }
    
    .AboutAchield{width:74rem;
        height:44.5rem;
        margin: auto;
         
    }
    
    .AboutAimg img{
        width:31rem;
        max-width:32rem ;
        min-width: 10rem;
        height: 42rem;
        object-fit: cover;
        border-left:1.6rem solid red;
        border-top:1.6rem solid red;   
    }
    
    .AboutAtitle{
        width:80rem;
        height:38rem ;
        
    }
    .AboutAtitle h1{  
        font-size: 2.8rem; 
       line-height: 3.2rem;
       margin: 1rem 0;
    }
    
    .AboutAtitle p{font-size: 1.4rem; margin-bottom: 1rem;}
    .AboutAtitle h4{font-size:1.4rem;margin-bottom: .8rem;}
    .AboutAtitle h2{font-size:1.9rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 6rem;}  
    .AboutAtitle .beforeAbout::before{
        width:5rem;
        height:.2.4rem;
        top:1.5rem;
    }
    
    }



    
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 803PX  +++++++++ */

@media (max-width: 803px) {
    
    .AboutAcontainer{
        width:100%;
        height:47rem;
    }
    
    .AboutAchield{width:69rem;
        height:41rem;
        margin: auto;  
    }
    
    .AboutAimg img{
        width:30rem;
        max-width:32rem ;
        min-width: 10rem;
        height: 40rem;
        object-fit: cover;
        border-left:1.5rem solid red;
        border-top:1.5rem solid red;   
    }
    
    .AboutAtitle{
        width:71rem;
        height:36rem ;
    }
    .AboutAtitle h1{  
        font-size: 2.7rem; 
       line-height: 3rem;
       margin: .9rem 0;
    }
    .AboutAtitle p{font-size:1.4rem;margin-bottom: .8rem;
    text-align: justify;}
    
    }
    
    

    
    
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 743PX  +++++++++ */

@media (max-width: 743px) {
    
    .AboutAcontainer{
        width:100%;
        height:45rem;
    }
    
    .AboutAchield{width:61rem;
        height:40rem;
        margin: auto;  
    }
    
    .AboutAimg img{
        width:28rem;
        max-width:32rem ;
        min-width: 10rem;
        height: 39rem;
        object-fit: cover;
        border-left:1.4rem solid red;
        border-top:1.4rem solid red;   
    }
    
    .AboutAtitle{
        width:57rem;
        height:36rem ;

    }
    .AboutAtitle h1{  
        font-size: 2.3rem; 
       line-height: 2.6rem;
       margin: .6rem 0;
    }
    
    .AboutAtitle p{font-size: 1.3rem; margin-bottom: 1rem;}
    .AboutAtitle h4{font-size:1.3rem;margin-bottom: .6rem;}
    .AboutAtitle h2{font-size:1.6rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 5.4rem;}  
    .AboutAtitle .beforeAbout::before{
        width:4.4rem;
        height:.2.4rem;
        top:1.2rem;
    }
    
    }
    
    

    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 664PX  +++++++++ */

@media (max-width: 664px) {
    
    .AboutAcontainer{
        width:100%;
        height:42.7rem;
    }
    
    .AboutAchield{width:55rem;
        height:37rem;
        margin: auto; 
    }
    
    .AboutAimg img{
        width:26rem;
        max-width:32rem ;
        min-width: 10rem;
        height: 36.7rem;
        object-fit: cover;
        border-left:1.3rem solid red;
        border-top:1.3rem solid red;   
    }
    
    .AboutAtitle{
        width:50rem;
        height:33rem ;
        
    }
    .AboutAtitle h1{  
        font-size: 2rem; 
       line-height: 2.5rem;
       margin: .1rem 0;
    }
    
    .AboutAtitle p{font-size: 1.2rem; margin-bottom: 0rem;}
    .AboutAtitle h4{font-size:1.2rem;margin-bottom: 0rem;}
    .AboutAtitle h2{font-size:1.6rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 5.4rem;}  
    .AboutAtitle .beforeAbout::before{
        width:4.1rem;
        height:.2.4rem;
        top:1.2rem;
    }
    
    }
    

      
    

    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width: 599px) {
    
    .AboutAcontainer{
        width:100%;
        height:37rem;
    }
    
    .AboutAchield{width:46.4rem;
        height:33rem;
        margin: auto;
 
    }
    
    .AboutAimg img{
        width:22rem;
        max-width:22rem ;
        min-width: 10rem;
        height: 32.6rem;
        object-fit: cover;
        border-left:1.2rem solid red;
        border-top:1.2rem solid red;   
    }
    
    .AboutAtitle{
        width:40rem;
        height:30rem ;      
    }
    .AboutAtitle h1{  
        font-size: 1.7rem; 
       line-height: 2.1rem;
       margin: .1rem 0;
    }
    
    .AboutAtitle p{font-size: 1.1rem; margin-bottom: 1rem;}
    .AboutAtitle h4{font-size:1.1rem;margin-bottom: .1rem;}
    .AboutAtitle h2{font-size:1.4rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 4rem;}  
    .AboutAtitle .beforeAbout::before{
        width:3.3rem;
        height:.2rem;
        top:1.1rem;
    }
    
    }



    
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width: 504px) {
    
    .AboutAcontainer{
        width:100%;
        height:34.3rem;
    }
    
    .AboutAchield{width:41.5rem;
        height:30.8rem;
        margin: auto; 
    }
    
    .AboutAimg img{
        width:19.6rem;
        max-width:19.6rem ;
        min-width: 10rem;
        height: 30rem;
        object-fit: cover;
        border-left:1.1rem solid red;
        border-top:1.1rem solid red;   
    }
    
    .AboutAtitle{
        width:38rem;
        height:28rem ;      
    }
    .AboutAtitle h1{  
        font-size: 1.5rem; 
       line-height: 1.8rem;
       margin: .1rem 0;
    }
    
    .AboutAtitle p{font-size: 1rem; margin-bottom: .8rem;}
    .AboutAtitle h4{font-size:1rem;margin-bottom: .1rem;}
    .AboutAtitle h2{font-size:1.3rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 4.2rem;}  
    .AboutAtitle .beforeAbout::before{
        width:3.3rem;
        height:.2rem;
        top:.9rem;
    }
    
    }


        
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 454PX  +++++++++ */

@media (max-width: 454px) {
    
    .AboutAcontainer{
        width:100%;
        height:68rem;
        
    }
    
    .AboutAchield{width:29rem;
        height:61rem;
        margin: auto;
        display: block;  
    }
    
    .AboutAimg img{
        width:29rem;
        max-width:28rem ;
        min-width: 10rem;
        height: 27.4rem;
        object-fit: cover;
        border-left:1rem solid red;
        border-top:1rem solid red;   
    }
    
    .AboutAtitle{
        width:29rem;
        height:32rem ;
        margin-top: 1rem;       
    }
    .AboutAtitle h1{  
        font-size: 2.2rem; 
       line-height: 2.5rem;
       font-weight: 800;
       margin: .5rem 0;
    }
    
    .AboutAtitle p{font-size: 1.2rem; margin-bottom: 1.2rem;}
    .AboutAtitle h4{font-size:1.2rem;margin-bottom: .9rem;}
    .AboutAtitle h2{font-size:2rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 4.3rem;}  
    .AboutAtitle .beforeAbout::before{
        width:3.5rem;
        height:.3rem;
        top:1.5rem;
    }

    .respons{
        width:15.5rem;
        height: 3.6rem;
        font-size:2rem;   
    }
    
    }
    
    
    
 
        
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */

@media (max-width: 354px) {
    
    .AboutAcontainer{
        width:100%;
        height:62rem;
        
    }
    
    .AboutAchield{width:26rem;
        height:58rem;
        margin: auto;
        display: block;  
    }
    
    .AboutAimg img{
        width:26rem;
        max-width:28rem ;
        min-width: 10rem;
        height: 27rem;
        object-fit: cover;
        border-left:1rem solid red;
        border-top:1rem solid red;   
    }
    
    .AboutAtitle{
        width:26rem;
        height:29rem ;
        margin-top: 1rem;
    }
    .AboutAtitle h1{  
        font-size: 1.8rem; 
       line-height: 2.2rem;
       font-weight: 800;
       margin: .4rem 0;
    }
    
    .AboutAtitle p{font-size: 1.1rem; margin-bottom: 1rem;}
    .AboutAtitle h4{font-size:1.1rem;margin-bottom: .8rem;}
    .AboutAtitle h2{font-size:1.7rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 4.1rem;}  
    .AboutAtitle .beforeAbout::before{
        width:3.3rem;
        height:.2.6rem;
        top:1.3rem;
    }

    .respons{
        width:14rem;
        height: 3.4rem;
        font-size:1.4rem;   
    }
    
    }
       

        
/* +++++++  MEDIA SCREEN MAX-WIDTH = 304PX  +++++++++ */

@media (max-width: 304px) {
    
    .AboutAcontainer{
        width:100%;
        height:55rem;
       
    }
    
    .AboutAchield{width:22.5rem;
        height:50rem;
        margin: auto; 
    
    }
    
    .AboutAimg img{
        width:23rem;
        max-width:28rem ;
        min-width: 10rem;
        height: 27rem;
        object-fit: cover;
        border-left:1rem solid red;
        border-top:1rem solid red;   
    }
    
    .AboutAtitle{
        width:23rem;
        height:21rem ;
        margin-top: 1rem;
        
    }
    .AboutAtitle h1{  
        font-size: 1.4rem; 
       line-height: 1.8rem;
       font-weight: 800;
       margin: .4rem 0;
    }
    
    .AboutAtitle p{font-size: .9rem; margin-bottom: .9rem;}
    .AboutAtitle h4{font-size:.9rem;margin-bottom: .7rem;}
    .AboutAtitle h2{font-size:1.4rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 3.8rem;}  
    .AboutAtitle .beforeAbout::before{
        width:3.1rem;
        height:.2.1rem;
        top:1rem;
    }

    .respons{
        width:12rem;
        height: 3rem;
        font-size:1.2rem; 
        
    }
    
    }
       

    
        
/* +++++++  MEDIA SCREEN MAX-WIDTH = 264PX  +++++++++ */

@media (max-width: 264px) {
    
    .AboutAcontainer{
        width:100%;
        height:55rem;
        
    }
    
    .AboutAchield{width:19rem;
        height:50rem;
        margin: auto; 
    }
    
    .AboutAimg img{
        width:19rem;
        max-width:28rem ;
        min-width: 10rem;
        height: 27rem;
        object-fit: cover;
        border-left:.9rem solid red;
        border-top:.9rem solid red;   
    }
    
    .AboutAtitle{
        width:19rem;
        height:22rem ;
        margin-top: .6rem;
      
    }
    .AboutAtitle h1{  
        font-size: 1.1rem; 
       line-height: 1.3rem;
       font-weight: 800;
       margin: .4rem 0;
    }
    
    .AboutAtitle p{font-size: .9rem; margin-bottom: .7rem;}
    .AboutAtitle h4{font-size:.9rem;margin-bottom: .6rem;}
    .AboutAtitle h2{font-size:1.2rem;}
    .AboutAtitle h2 .beforeAbout {padding-right: 3.2rem;}  
    .AboutAtitle .beforeAbout::before{
        width:2.8rem;
        height:.1.1rem;
        top:.8rem;
    }

    .respons{
        width:5rem;
        height: 2.4rem;
        font-size:1.1rem;   
    }
    
    }
      