* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  .imgvidContainer{width:100%;}

  .navButton{width:33rem;height:12rem;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0 auto;
}
.imgh,.vidh{width:11rem;
    height:4rem;
    border:2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    cursor: pointer;
}
.imgh:hover{color:red;}
.vidh:hover{color:red;}
.ImgSeeContainer{width:100%;height:123rem;
}
.ImgSee{
    width:95rem;
    height:120rem;
    margin: 0 auto;
    
}
.imgCom{width:31.5rem;height:30rem;
    display: inline-block;}
.imgCom img{
width:29rem;
height:28rem;
object-fit: cover;margin-left: 1.4rem;
}

/* VIdeoCOmponet */

.videoCon{width:100%;
}

 .VideoSee{
  width:100%;
  height:41rem;
  margin:auto;
  display: flex;
justify-content: space-evenly; 
} 
.videoCom{width:44%;height:36rem;
  display: inline-block;
  }
.videoCom .videos{
  width:100%;height:36rem;
  object-fit:cover;
}




/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */


/* --------------  MEDIA SCREEN MAX-WIDTH = 999PX  ----------- */
@media (max-width: 999px) {

  .navButton{width:33rem;
    height:10rem; 
    }
    .imgh,.vidh{width:11rem;
        height:4rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:123rem;
    }
    .ImgSee{
        width:82rem;
        height:120rem;     
    }
    .imgCom{width:27rem;
      height:29.4rem;
 
    }
    .imgCom img{
    width:25.5rem;
    height:28rem;margin-left: 1rem;
    }
    
    /* VideoComponet */

     .VideoSee{
      width:100%;
      height:41rem; 
      justify-content: space-evenly;
    } 
    .videoCom{width:45%;
      height:36rem;
      }
    .videoCom .videos{
      width:100%;
      height:36rem;

    }
    
    
}


  /* +++++++  MEDIA SCREEN MAX-WIDTH = 893PX  +++++++++ */

  
  @media (max-width: 895px) {
    .navButton{width:30rem;
      height:8rem; 
      }
      .imgh,.vidh{width:10rem;
          height:3.5rem;
      }
     
      .ImgSeeContainer{width:100%;
        height:116rem;
      }
      .ImgSee{
          width:73rem;
          height:113rem;     
      }
      .imgCom{width:24rem;
        height:28rem;
   
      }
      .imgCom img{
      width:23rem;
      height:27rem;
      margin-left: 1rem;
      }
      
      /* VideoComponet */
  
       .VideoSee{
        width:100%;
        height:39rem;  
        justify-content: space-evenly;
      } 
      .videoCom{width:45%;
        height:34rem;
        }
      .videoCom .videos{
        width:100%;
        height:34rem;
  
      }
  }


   /* +++++++  MEDIA SCREEN MAX-WIDTH = 743PX  +++++++++ */

   @media (max-width: 774px) {

    .navButton{width:30rem;
      height:8rem; 
      }
      .imgh,.vidh{width:10rem;
          height:3.5rem;
      }
     
      .ImgSeeContainer{width:100%;
        height:103rem;
      }
      .ImgSee{
          width:63rem;
          height:101rem;     
      }
      .imgCom{width:20.5rem;
        height:25rem;
   
      }
      .imgCom img{
      width:19.6rem;
      height:24rem;
      margin-left: 1rem;
      }
      
      /* VideoComponet */
  
       .VideoSee{
        height:37rem;  
      } 
      .videoCom{
        height:33rem;
        }
      .videoCom .videos{
        height:33rem;
  
      }

   }


   /* +++++++  MEDIA SCREEN MAX-WIDTH = 664PX  +++++++++ */

@media (max-width: 664px) {

  .navButton{width:28rem;
    height:7rem; 
    }
    .imgh,.vidh{width:9rem;
        height:3.5rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:95rem;
    }
    .ImgSee{
        width:57rem;
        height:92rem;     
    }
    .imgCom{width:18.7rem;
      height:23rem;
 
    }
    .imgCom img{
    width:18rem;
    height:22rem;
    margin-left: .8rem;
    }
    
    /* VideoComponet */

     .VideoSee{
      height:35rem;  
    } 
    .videoCom{
      height:31rem;
      }
    .videoCom .videos{
      height:31rem;

    }
}


  
/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width: 599px) {


  .navButton{width:26rem;
    height:6rem; 
    }
    .imgh,.vidh{width:9rem;
        height:3rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:88rem;
    }
    .ImgSee{
        width:48rem;
        height:86rem;     
    }
    .imgCom{width:15.8rem;
      height:21.5rem;
 
    }
    .imgCom img{
    width:15.2rem;
    height:20.8rem;
    margin-left: .8rem;
    }
    
    /* VideoComponet */

     .VideoSee{
      height:35rem;  
    } 
    .videoCom{
      height:31rem;
      }
    .videoCom .videos{
      height:31rem;

    }
}

  
/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width: 504px) {


  .navButton{width:26rem;
    height:6rem; 
    }
    .imgh,.vidh{width:9rem;
        height:3rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:122rem;
    }
    .ImgSee{
        width:37rem;
        height:120rem;   
        margin: 0 auto;
    }
    .imgCom{width:18rem;
      height:20rem;
 
    }
    .imgCom img{
    width:17.2rem;
    height:19.2rem;
    margin-left: 0rem;
    }
    
    /* VideoComponet */
.videoCon{height:68rem;}
     .VideoSee{
      height:65rem;  
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    } 
    .videoCom{width:88%;
      height:30rem;
      display: block;
      }
    .videoCom .videos{
      height:30rem;

    }
}


 
/* +++++++  MEDIA SCREEN MAX-WIDTH = 404PX  +++++++++ */


@media (max-width:404px) {
   
  .navButton{width:26rem;
    height:6rem; 
    }
    .imgh,.vidh{width:9rem;
        height:3rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:108rem;
    }
    .ImgSee{
        width:30rem;
        height:106rem;   
        margin: 0 auto;
    }
    .imgCom{width:14.9rem;
      height:17.6rem;
 
    }
    .imgCom img{
    width:14.3rem;
    height:17rem;
    }
    
    /* VideoComponet */
.videoCon{height:64rem;}
     .VideoSee{
      height:61rem;  
    } 
    .videoCom{width:88%;
      height:29rem;
      }
    .videoCom .videos{
      height:29rem;

    }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */


@media (max-width:354px) {

  .navButton{width:23rem;
    height:5rem; 
    }
    .imgh,.vidh{width:7rem;
        height:2.6rem;
        font-size: 1.7rem;
    }
   
    .ImgSeeContainer{width:100%;
      height:102rem;
    }
    .ImgSee{
        width:27rem;
        height:100rem;   
        margin: 0 auto;
    }
    .imgCom{width:13.4rem;
      height:16.6rem;
 
    }
    .imgCom img{
    width:12.8rem;
    height:16rem;
    }
    
    /* VideoComponet */
.videoCon{height:59rem;}
     .VideoSee{
      height:56rem;  
    } 
    .videoCom{width:88%;
      height:27rem;
      }
    .videoCom .videos{
      height:27rem;

    }
}



  /* +++++++  MEDIA SCREEN MAX-WIDTH = 304PX  +++++++++ */
 
  @media (max-width:304px) {

      .navButton{width:16rem;
        height:4rem; 
        }
        .imgh,.vidh{width:6rem;
            height:2.2rem;
            font-size: 1.5rem;
        }
       
        .ImgSeeContainer{width:100%;
          height:84rem;
        }
        .ImgSee{
            width:24rem;
            height:82rem;   
            margin: 0 auto;
        }
        .imgCom{width:11.9rem;
          height:13.6rem;
     
        }
        .imgCom img{
        width:11.4rem;
        height:13rem;
        }
        
        /* VideoComponet */
    .videoCon{height:50.6rem;}
         .VideoSee{
          height:48rem;  
        } 
        .videoCom{width:88%;
          height:23rem;
          }
        .videoCom .videos{
          height:23rem;
    
        }
  }