*{margin:0;padding: 0;box-sizing: border-box;transition: all 0.2s linear;}

html{font-size: 62.5%;}

/* ----------  GALLERY IMG .. JSX   ----- */
.gallImgCon{
    width:39rem;
    height: 37rem;
    display: inline-block;
}

.galleryimg,.galleryimg img{
    width:39rem;
    height:37rem;
    object-fit: cover;
    object-position: 77% 50%;
    padding-left: 1.8rem;
}


/* ==========  GALLERY cOM  ..JSX   ====== */


.gallContainer{
    width:100%;
    height: 90rem;
    background-color: rgb(241, 238, 238);
    padding-top: 3rem;
    
}
.gallChield{width:120rem;
    height:45rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
     margin : 0 auto ;
}
.gallTitle{
    width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: relative;
}
.gallTitle h1{
    font-size: 4.3rem;
    margin-bottom: 1.6rem;
    padding-left: 1.5rem;
}
.gallTitle h1::before{
    width:.4rem;
    height:4.5rem;
    content:"";
    display: block;
    position: absolute;
    top:0rem;
    left:0;
    background-color: tomato;
    border-radius: 1rem;
  }
.video{width:100%;
height:50rem;
display: flex;
justify-content: space-around;
padding-left: 2rem;
}
.video video{width:56rem;margin-top:1.5rem;
height:36rem;object-fit: cover;}




/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */


/* +++++++  MEDIA SCREEN MAX-WIDTH = 1290PX  +++++++++ */

@media (max-width: 1290px) {


/* ----------  GALLERY IMG .. JSX   ----- */
.gallImgCon{
    width:32rem;
    height: 35rem;   
}
.galleryimg,.galleryimg img{
    width:32rem;
    height:35rem;
    object-position: 77% 50%;
    padding-left: 0;
}
.gallContainer{
    height: 85rem;
    padding-top: 3rem;   
}
.gallChield{width:104rem;
    height:43rem;
    display: flex;
    justify-content: space-between;  
}
.gallTitle{
    width: 104rem;
}
.imgComp{display: flex;
justify-content: space-around;}
.gallTitle h1{
    font-size: 4.2rem;
    margin-bottom: 1.6rem;
    padding-left: 1.5rem;
}
.gallTitle h1::before{
    width:.4rem;
    height:4.5rem;
  }
.video{width:100%;
height:50rem;
padding-left: 0rem;
}
.video video{width:49rem;margin-top:1.3rem;
height:34rem;}

}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 1110PX  +++++++++ */

@media (max-width: 1110px) {


    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:28.6rem;
        height: 33rem;   
    }
    .galleryimg,.galleryimg img{
        width:28.6rem;
        height:33rem;  
    }
    .gallContainer{
        height: 79rem;
        padding-top: 3rem;   
    }
    .gallChield{width:93rem;
        height:43rem; 
    }
    .gallTitle{
        width: 93rem;   
    }
    .imgComp{display: flex;
    justify-content: space-around;}
    .gallTitle h1{
        font-size: 4rem;
        margin-bottom: 1.6rem;
        padding-left: 1.5rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4.3rem;
      }
    .video{width:100%;
    height:33rem;
    padding-left: 0rem;
    }
    .video video{width:44rem;margin-top:1.3rem;
    height:32rem;}
    
    }
    
 
    
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 999PX  +++++++++ */

@media (max-width: 999px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:26.5rem;
        height: 31rem;   
    }
    .galleryimg,.galleryimg img{
        width:26.5rem;
        height:31rem;  
    }
    .gallContainer{
        height: 74rem;
        padding-top: 2.4rem; 
    }
    .gallChield{width:83.3rem;
        height:38rem; 
    }
    .gallTitle{
        width: 84rem;  
    }
    .imgComp{display: flex;
    justify-content: space-between;}
    .gallTitle h1{
        font-size: 4rem;
        margin-bottom: 1.6rem;
        padding-left: 1.5rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4.3rem;
      }
    .video{
    height:40rem;
    padding-left: 0rem;
    }
    .video video{width:40.4rem;margin-top:1.1rem;
    height:31rem;}
    
    }




    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 894PX  +++++++++ */

@media (max-width:894px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:24.2rem;
        height: 28rem;   
    }
    .galleryimg,.galleryimg img{
        width:24.2rem;
        height:28rem;  
    }
    .gallContainer{
        height: 69rem;
        padding-top: 2.4rem;   
    }
    .gallChield{width:76rem;
        height:35rem; 
    }
    .gallTitle{
        width: 76rem;  
    }
    .imgComp{display: flex;
    justify-content: space-between;}
    .gallTitle h1{
        font-size: 3.8rem;
        margin-bottom: 1.6rem;
        padding-left: 1.5rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4.2rem;
      }
    .video{
    height:30rem;
    padding-left: 0rem;
    }
    .video video{width:38rem;margin-top:1.1rem;
    height:35;}
    video[poster]{width:36rem;height:28.2rem;}
    }





      
/* +++++++  MEDIA SCREEN MAX-WIDTH = 804PX  +++++++++ */

@media (max-width:804px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:21.7rem;
        height: 27rem;   
    }
    .galleryimg,.galleryimg img{
        width:21.7rem;
        height:27rem;  
    }
    .gallContainer{
        height: 65rem;
        padding-top: 2rem;   
    }
    .gallChield{width:69rem;
        height:35rem; 
    }
    .gallTitle{
        width: 69rem;  
    }
    .imgComp{display: flex;
    justify-content: space-between;}
    .gallTitle h1{
        font-size: 3.7rem;
        margin-bottom: 1.6rem;
        padding-left: 1.5rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4.2rem;
      }
    .video{
    height:30rem;
    padding-left: 0rem;
    }
    .video video{width:33rem;margin-top:1rem;
    height:35;}
    video[poster]{width:33.5rem;height:26.2rem;}
    }



    
      
/* +++++++  MEDIA SCREEN MAX-WIDTH = 744PX  +++++++++ */

@media (max-width:744px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:19.4rem;
        height: 25.5rem;   
    }
    .galleryimg,.galleryimg img{
        width:19.7rem;
        height:25.5rem;  
    }
    .gallContainer{
        height: 60.4rem;
        padding-top: 2rem;   
    }
    .gallChield{width:62rem;
        height:32rem; 
    }
    .gallTitle{
        width: 62rem; 
    }
    .imgComp{display: flex;
    justify-content: space-between;}
    .gallTitle h1{
        font-size: 3.5rem;
        margin-bottom: 1.3rem;
        padding-left: 1.2rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4rem;
      }
    .video{
    height:30rem;
    padding-left: 0rem;
    }
    .video video{width:30rem;margin-top:1rem;
    height:35;}
    video[poster]{width:30.1rem;height:24rem;}
    }


 
    

    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 664PX  +++++++++ */

@media (max-width:664px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:17.2rem;
        height: 22.5rem;   
    }
    .galleryimg,.galleryimg img{
        width:17.4rem;
        height:22.5rem;  
    }
    .gallContainer{
        height: 54.4rem;
        padding-top: 2rem;   
    }
    .gallChield{width:55.4rem;
        height:29rem; 
    }
    .gallTitle{
        width: 55.4rem;  
    }

    .gallTitle h1{
        font-size: 3.5rem;
        margin-bottom: 1.3rem;
        padding-left: 1.2rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4rem;
      }
    .video{
    height:30rem;

    }
    .video video{width:30rem;margin: .9rem;
    height:35;}
    video[poster]{width:26.5rem;height:21.2rem;}
    }



    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width:599px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:14.1rem;
        height: 20rem;   
    }
    .galleryimg,.galleryimg img{
        width:14.5rem;
        height:20rem;  
    }
    .gallContainer{
        height: 48.2rem;
        padding-top: 2rem;   
    }
    .gallChield{width:46rem;
        height:26.5rem; 
    }
    .gallTitle{
        width: 46rem; 
    }
    
    .gallTitle h1{
        font-size: 3.4rem;
        margin-bottom: 1.2rem;
        padding-left: 1.2rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:4rem;
      }
    .video{
    height:20rem;
    }
    .video video{width:30rem;
    height:35;}
    video[poster]{width:22.2rem;height:17.6rem;}
    }





    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width:504px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:12.9rem;
        height: 18rem;   
    }
    .galleryimg,.galleryimg img{
        width:13.1rem;
        height:18rem;  
    }
    .gallContainer{
        height: 43rem;
        padding-top: 2rem;   
    }
    .gallChield{width:41.5rem;
        height:24rem; 
    }
    .gallTitle{
        width: 41.5rem;  
    }
    
    .gallTitle h1{
        font-size: 3.3rem;
        margin-bottom: 1.2rem;
        padding-left: 1.2rem;
    }
    .gallTitle h1::before{
        width:.4rem;
        height:3.8rem;
      }
    .video{
    height:16rem;
    }
    .video video{width:20rem;
    height:22;}
    video[poster]{width:19rem;height:15rem;}
    }



    
    
/* +++++++  MEDIA SCREEN MAX-WIDTH = 454PX  +++++++++ */

@media (max-width:454px) {

    /* ----------  GALLERY IMG .. JSX   ----- */
    .gallImgCon{
        width:25rem;
        height: 26rem; margin-top: 1.6rem;  
    }
    .galleryimg,.galleryimg img{
        width:25rem;
        height:26rem;  
    }
    .gallContainer{
        height: 135rem;
        padding-top: 2rem;   
    }
    .gallChield{width:30.5rem;
        height:88rem; 
    }
    .gallTitle{
        width: 30.5rem; 
    }
    .imgComp{display: flex;flex-direction: column;
        align-items: center;
    justify-content: space-between;}
    .gallTitle h1{
        font-size: 3.5rem;
        margin-bottom: .2rem;
        padding-left: 1.2rem;
    }
    .gallTitle h1::before{
        width:.3rem;
        height:3.6rem;
      }
    .video{flex-direction: column;align-items: center;
    height:45rem;
    }
    .video video{width:30rem;
    height:22rem;margin-top: 1rem;}
    video[poster]{width:28rem;height:20rem;}
    }
    



    
    /* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */
    
    @media (max-width:354px) {
    
        /* ----------  GALLERY IMG .. JSX   ----- */
        .gallImgCon{
            width:22rem;
            height: 23rem; margin-top: 1.5rem;  
        }
        .galleryimg,.galleryimg img{
            width:22rem;
            height:23rem;  
        }
        .gallContainer{
            height: 121.4rem;
            padding-top: 2rem;   
        }
        .gallChield{width:27.5rem;
            height:79rem; 
        }
        .gallTitle{
            width: 27.5rem;
        }
       
        .gallTitle h1{
            font-size: 3.3rem;
            margin-bottom: .2rem;
            padding-left: 1.2rem;
        }
        .gallTitle h1::before{
            width:.3rem;
            height:3.5rem;
          }
        .video{
        height:40rem;
        }
        .video video{width:30rem;
        height:20rem;margin-top: 1rem;}
        video[poster]{width:26rem;height:19rem;}
        }



    
    /* +++++++  MEDIA SCREEN MAX-WIDTH = 304PX  +++++++++ */
    
    @media (max-width:304px) {
    
        /* ----------  GALLERY IMG .. JSX   ----- */
        .gallImgCon{
            width:20rem;
            height: 21rem; margin-top: 1.5rem;  
        }
        .galleryimg,.galleryimg img{
            width:20rem;
            height:21rem;  
        }
        .gallContainer{
            height: 115rem;
            padding-top: 2rem;   
        }
        .gallChield{width:26rem;
            height:76rem; 
        }
        .gallTitle{
            width: 26rem;
        }
       
        .gallTitle h1{
            font-size: 3.2rem;
            margin-bottom: .2rem;
            padding-left: 1.2rem;
        }
        .gallTitle h1::before{
            width:.3rem;
            height:3.5rem;
          }
        
        .video video{
        height:36rem;margin-top: .9rem;}
        video[poster]{width:24rem;height:18rem;}
        }







        

    
    /* +++++++  MEDIA SCREEN MAX-WIDTH = 274PX  +++++++++ */
    
    @media (max-width:274px) {
    
        /* ----------  GALLERY IMG .. JSX   ----- */
        .gallImgCon{
            width:17rem;
            height: 18rem; margin-top: 1.2rem;  
        }
        .galleryimg,.galleryimg img{
            width:17rem;
            height:18rem;  
        }
        .gallContainer{
            height: 102rem;
            padding-top: 2rem;   
        }
        .gallChield{width:21rem;
            height:66rem; 
        }
        .gallTitle{
            width: 21rem;   
        }
       
        .gallTitle h1{
            font-size: 3rem;
            margin-bottom: .2rem;
            padding-left: 1.2rem;
        }
        .gallTitle h1::before{
            width:.3rem;
            height:3.2rem;
          }
        
        .video video{width:30rem;
        height:30rem;margin-top: .8rem;}
        video[poster]{width:20rem;height:15rem;}
        }