* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.appb {
  width: 100%;
  height: 66rem;
  background-image: url(../img/HomeA.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.aboutimg{
  width: 100%;
  height: 64rem;
  background-image: url(../img/trainer2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
  background-attachment: inherit;
}

.aboutimg .hbtext{
position:absolute;
top:50%;
left:40%;
transform: translate(50% 50%);
color:white;
font-size:5.4rem;
text-align: center;
}

.Serviced{
  width: 100%;
  height: 64rem;
  background-image: url(../img/abd.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
  background-attachment: inherit;
}
.contactCon{
  width: 100%;
  height: 64rem;
  filter: brightness(1);
  background-image: url(../img/login.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
  background-attachment: inherit;
}
.Galleryimg{
  width: 100%;
  height: 64rem;
  background-image: url(../img/Homeb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
  background-attachment: inherit; 
}


/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */

/* +++++++  MEDIA SCREEN MAX-WIDTH = 1290PX  +++++++++ */

@media (max-width: 1290px) {
  .appb,.aboutimg,.Galleryimg {
    height: 65rem;
    background-position: 80% 20%;
    background-size: cover;
  }
}

/* --------------  MEDIA SCREEN MAX-WIDTH = 999PX  ----------- */
@media (max-width: 999px) {
  .appb,.aboutimg,.Galleryimg,.Serviced {
    height: 60rem;
    background-position: 80% 20%;
    background-size: cover;
  }
}

/* --------------  MEDIA SCREEN MAX-WIDTH = 893PX  ----------- */

@media (max-width: 893px) {
  .appb,.aboutimg,.Galleryimg,.Serviced {
    height: 56rem;
    background-position: 80% 20%;
    background-size: cover;
  }
  .aboutimg .hbtext{
    position:absolute;
    top:50%;
    left:40%;
    transform: translate(50% 50%);
    font-size:4.4rem;
    
    }
}

/* --------------  MEDIA SCREEN MAX-WIDTH = 803PX  ----------- */

@media (max-width: 803px) {
  .appb,.aboutimg,.Galleryimg,.Serviced {
    height: 52rem;
    background-position: 70% 20%;
    background-size: cover;
  }
}


/* --------------  MEDIA SCREEN MAX-WIDTH = 744PX  ----------- */

@media (max-width: 744px) {
  .appb,.aboutimg,.Galleryimg,.contactCon,.loginImg ,.Serviced{
    height: 49rem;
    background-position: 80% 10%;
    background-size: cover;
    z-index:inherit;
  }
}



/* --------------  MEDIA SCREEN MAX-WIDTH = 664PX  ----------- */

@media (max-width: 664px) {
    .appb,.aboutimg{
      height: 44rem;
      background-position: 90% 10%;
      background-size: cover;
      
    }
    .Galleryimg,.Serviced{background-position: 30% 70%;
      background-size: cover;height: 44rem;}
  }

  /* --------------  MEDIA SCREEN MAX-WIDTH = 504PX  ----------- */

@media (max-width: 504px) {
  .appb,.aboutimg,.loginImg,.Serviced{
    height: 42rem;
    background-position: 90% 10%;
    background-size: cover; 
  }
  .Galleryimg{background-position: 30% 70%;
    background-size: cover;height: 42rem;}
}
.aboutimg .hbtext{
  position:absolute;
  top:50%;
  left:40%;
  transform: translate(50% 50%);
  font-size:3.4rem;

  }

/* --------------  MEDIA SCREEN MAX-WIDTH = 454PX  ----------- */

@media (max-width: 454px) {
  .appb,.aboutimg{
    height: 38rem;
    background-position: 90% 10%;
    background-size:cover;  
  }
  .Galleryimg{background-position: 20% 80%;
    background-size: cover;height: 38rem;}
}

/* --------------  MEDIA SCREEN MAX-WIDTH = 398PX  ----------- */

@media (max-width: 398px) {
  .appb,.aboutimg,.Serviced {
    height: 34rem;
    background-position: 80% 10%;
    background-size:cover;
  }
  .Galleryimg{background-position: 30% 70%;
    background-size: cover;height: 35rem;}
    .aboutimg .hbtext{
      position:absolute;
      top:50%;
      left:35%;
      transform: translate(50% 50%);
      font-size:2.4rem;
    
      }
}


/* --------------  MEDIA SCREEN MAX-WIDTH = 354PX  ----------- */

@media (max-width: 354px) {
  .appb,.aboutimg,.Serviced{
    height: 31rem;
    background-position: 80% 10%;
    background-size:cover; 
  }
  .Galleryimg{background-position: 20% 80%;
    background-size: cover;height: 31rem;}
}

/* --------------  MEDIA SCREEN MAX-WIDTH = 304PX  ----------- */

@media (max-width: 304px) {
  .appb,.aboutimg{
    height: 29rem;
    background-position: 70% 10%;
    background-size:cover; 
  }
  .Galleryimg,.Serviced{background-position: 20% 80%;
    background-size: cover;height: 29rem;}
    .aboutimg .hbtext{
      position:absolute;
      top:50%;
      left:35%;
      transform: translate(50% 50%);
      font-size:1.6rem;
    
      }

}


/* --------------  MEDIA SCREEN MAX-WIDTH = 264PX  ----------- */

@media (max-width: 264px) {
  .appb,.aboutimg,.Serviced{
    height: 26rem;
    background-position: 70% 10%;
    background-size:cover;
  }
  .Galleryimg{background-position: 20% 80%;
    background-size: cover;height: 26rem;}
}

