*{margin:0;padding:0;box-sizing: border-box;}

html{font-size: 62.5%;}

.HomeContainer{
width:100%;
height: auto;
}
.headerTitle{
    width:55rem;
    height:32rem;
    position: absolute;
    top:28rem;
    left:10rem;
    z-index: 888;
  overflow: hidden;

}
 
.headerTitle h2{
    color:tomato;
    margin-bottom: 3.5rem;
    padding-left: 0px;
}
.before{padding-right: 10rem;}
.before::before{
    width: 6rem;
    height: .3rem;
    content: "";
    display: block;
    position: absolute;
    top:1.4rem;
    background-color:tomato;
    padding-right: 2rem;

}
.headerTitle h1{
    font-weight:1200;
    font-size: 4.5rem;
    font-family: sans-serif;
    color:white;
    margin-bottom: 4rem;   
}
.hhover{font-size: 2.2rem;}

.responsive {
    width: 21rem;
    height: 5rem;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size:2rem;
  }

.headerTitle h1,.hhover,.NavTitle{
    transform:translateX(-60rem);
     animation-name:title;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
 }  
  @keyframes title {
      0%{transform: translateX(-60rem);opacity: 0;}
     100%{transform: translateX(0);}
    }




    /* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */

/* +++++++  MEDIA SCREEN MAX-WIDTH = 1290PX  +++++++++ */
/* --------------  MEDIA SCREEN MAX-WIDTH = 1110PX  ----------- */
/* --------------  MEDIA SCREEN MAX-WID--------  = 999PX  ---*/
/* --------------  MEDIA SCREEN MAX-WIDTH = 893PX  ----------- */
/* --------------  MEDIA SCREEN MAX-WIDTH = 803PX  ----------- */
/* --------------  MEDIA SCREEN MAX-WIDTH = 774PX  ----------- */

/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */

/* +++++++  MEDIA SCREEN MAX-WIDTH = 1220PX  +++++++++ */

@media (max-width: 1220px) {

    .headerTitle{
     height:32rem;
    
    }
    .headerTitle h1{
        font-weight:1100;
        font-size: 4.2rem;
        margin-bottom: 3.5rem;
        
    }
    
  .responsive {
    width: 19rem;
    height: 4.5rem;
    font-size: 1.9rem;
  }
     
}
   

/* +++++++  MEDIA SCREEN MAX-WIDTH = 999PX  +++++++++ */

@media (max-width: 999px) {

    .headerTitle{
        width:49rem;
        top:25rem;
        left:8rem;
       height:31rem;
       
       }
       .headerTitle h1{
           font-weight:1100;
           font-size: 3.9rem;
           margin-bottom: 3.5rem;   
       }

       .headerTitle h2{
        margin-bottom: 2.4rem;
        padding-left: 0px;
    }

.before{padding-right: 8.5rem;}
.before::before{
    width: 5rem;
    height: .3rem;
    top:1.4rem;
    padding-right: 2rem;
}
.headerTitle h1{
    font-size: 4rem;
    margin-bottom: 3.2rem;   
}
.hhover{font-size: 2.1rem;}

.responsive {
    width: 17rem;
    height: 4rem;
    font-size: 1.7rem;
  }

}


/* +++++++  MEDIA SCREEN MAX-WIDTH = 893PX  +++++++++ */

@media (max-width: 893px) {

    .headerTitle{
        width:48rem;
        top:24rem;
        left:6rem;
       height:30rem;
       
       }
       .headerTitle h1{
           font-weight:700;
           font-size: 4rem;
           margin-bottom: 3rem;   
       }

       .headerTitle h2{
        margin-bottom: 2rem;
        
    }

.before{padding-right: 8rem;}
.before::before{
    width: 5rem;
    height: .3rem;
    top:1.3rem;
    padding-right: 2.2rem;
}

.hhover{font-size: 2.2rem;}
.responsive {
    width: 16rem;
    height: 3.6rem;
    font-size: 1.6rem;
  }
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 803PX  +++++++++ */

@media (max-width: 803px) {

    .headerTitle{
        width:43rem;
        top:23rem;
        left:5rem;
       height:26rem;
       
       }
       .headerTitle h1{
           font-weight:700;
           font-size: 3.6rem;
           margin-bottom: 2.7rem;   
       }

       .headerTitle h2{
        margin-bottom: 1.8rem;    
    }

.before{padding-right: 7.4rem;}
.before::before{
    width: 4.4rem;
    height: .3rem;
    top:1.3rem;
    padding-right: 2.2rem;
}

.hhover{font-size: 2rem;}
.responsive {
    width: 14.5rem;
    height: 3.2rem;
    font-size: 1.4rem;
  }
}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 774PX  +++++++++ */

@media (max-width: 774px) {

    .headerTitle{
        width:40rem;
        top:23rem;
        left:4.4rem;
       height:23rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 3.4rem;
           margin-bottom: 2.4rem;   
       }

       .headerTitle h2{
        margin-bottom: 1.6rem;    
    }

.before{padding-right: 7.5rem;}
.before::before{
    width: 4.2rem;
    height: .3rem;
    top:1.1rem;
    padding-right: 2rem;
}

.hhover{font-size: 1.8rem;}
.responsive{
    width:15rem;
    height:3.3rem;
    font-size:1.5rem;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 704PX  +++++++++ */

@media (max-width: 704px) {

    .headerTitle{
        width:36rem;
        top:24rem;
        left:3.9rem;
       height:21rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 3rem;
           margin-bottom: 2.1rem;   
       }

       .headerTitle h2{
        margin-bottom: 1.4rem;    
    }

.before{padding-right: 7.5rem;}
.before::before{
    width: 3.8rem;
    height: .2.5rem;
    top:1.1rem;
    padding-right: 2rem;
}

.hhover{font-size: 1.8rem;}
.responsive{
    width:14rem;
    height:3.1rem;
    font-size:1.3rem;  font-weight: 600; 

}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 664PX  +++++++++ */

@media (max-width: 664px) {

    .headerTitle{
        width:33rem;
        top:22rem;
        left:3.4rem;
       height:19rem;
    
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 2.7rem;
           margin-bottom: 1.9rem;   
       }

       .headerTitle h2{
        margin-bottom: 1.2rem;    
    }

.before{padding-right: 7rem;}
.before::before{
    width: 3.5rem;
    height: .2.5rem;
    top:1.1rem;
    padding-right: 2rem;
}

.hhover{font-size: 1.6rem;}
.responsive{
    width:13.4rem;
    height: 2.9rem;
    font-size:1.2rem; 
    font-weight: 600;   
}
}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width: 599px) {

    .headerTitle{
        width:29rem;
        top:22rem;
        left:3.1rem;
       height:17rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 2.5rem;
           margin-bottom: 1.7rem;   
       }

       .headerTitle h2{
        margin-bottom: 1.1rem;    
    }

.before{padding-right: 7rem;}
.before::before{
    width: 3.5rem;
    height: .2.5rem;
    top:1.1rem;
    padding-right: 2rem;
}

.hhover{font-size: 1.6rem;}
.responsive{
    width:13.2rem;
    height: 2.8rem;
    font-size:1.2rem;
    font-weight: 600;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width: 504px) {

    .headerTitle{
        width:26rem;
        top:22rem;
        left:2.8rem;
       height:15rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 2.2rem;
           margin-bottom: 1.6rem;   
       }

       .headerTitle h2{
        margin-bottom: 1rem;    
    }

.before{padding-right: 6rem;}
.before::before{
    width: 2.6rem;
    height: .2rem;
    top:1rem;
    padding-right: 1.8rem;
}

.hhover{font-size: 1.4rem;font-weight: 800;}
.responsive{
    width:12.9rem;
    height: 2.8rem;
    font-size:1.3rem;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 454PX  +++++++++ */

@media (max-width: 454px) {

    .headerTitle{
        width:23rem;
        top:20rem;
        left:2.4rem;
       height:14rem;
       
       }
       .headerTitle h1{
           font-weight:550;
           font-size: 1.8rem;
           margin-bottom: 1.5rem;   
       }

       .headerTitle h2{
        margin-bottom: 1rem;    
    }

.before{padding-right: 5rem;}
.before::before{
    width: 2rem;
    height: .2rem;
    top:.6rem;
    padding-right: 1.8rem;
}

.hhover{font-size: 1.3rem; }
.responsive{
    width:12rem;
    height: 2.5rem;
    font-size:1.2rem;   
}

.headerTitle h1,.hhover,.NavTitle{
    transform:translateX(-27rem);
     animation-name:title;
    animation-duration: 3s;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.4s;
    animation-timing-function: ease-out;
 }  
  @keyframes title {
      0%{transform: translateX(-27rem);opacity: 0;}
     100%{transform: translateX(0);}
    }
}






/* +++++++  MEDIA SCREEN MAX-WIDTH = 398PX  +++++++++ */

@media (max-width: 398px) {

    .headerTitle{
        width:19rem;
        top:17rem;
        left:2.4rem;
       height:13rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 1.6rem;
           margin-bottom: 1.2rem;   
       }

       .headerTitle h2{
        margin-bottom: 1rem;    
    }

.before{padding-right: 3rem;}
.before::before{
    width: .1rem;
    height: .2rem;
    top:.6rem;
    padding-right: 2rem;
}

.hhover{font-size: 1.1rem; }
.responsive{
    width:10.2rem;
    height: 2.1rem;
    font-size:1.1rem;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */

@media (max-width: 354px) {

    .headerTitle{
        width:16rem;
        top:16rem;
        left:2rem;
       height:12rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 1.4rem;
           margin-bottom: 1.1rem;   
       }

       .headerTitle h2{
        margin-bottom: .7rem;    
    }

.before{padding-right: 2rem;}
.before::before{
    width: .1rem;
    height: .2rem;
    top:.6rem;
    padding-right: 1.5rem;
}

.hhover{font-size: 1rem; }
.responsive{
    width:9rem;
    height: 1.8rem;
    font-size:.9rem;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 304PX  +++++++++ */

@media (max-width: 304px) {

    .headerTitle{
        width:14rem;
        top:14.6rem;
        left:1.4rem;
       height:10rem;
       
       }
       .headerTitle h1{
           font-weight:600;
           font-size: 1.2rem;
           margin-bottom: 1rem;   
       }

       .headerTitle h2{
        margin-bottom: .7rem;    
    }

.before{padding-right: 2rem;}
.before::before{
    width: .1rem;
    height: .1.5rem;
    top:.5rem;
    padding-right: 1.6rem;
}

.hhover{font-size: .9rem;font-weight: 550; }
.responsive{
    width:7.7rem;
    height: 1.6rem;
    font-size:.8rem;   
}
}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 254PX  +++++++++ */

@media (max-width: 254px) {

    .headerTitle{
        width:13rem;
        top:13.3rem;
        left:1.1rem;
       height:9rem;
       
       }
       .headerTitle h1{
           font-weight:550;
           font-size: 1.1rem;
           margin-bottom: 1rem;   
       }

       .headerTitle h2{
        margin-bottom: .6rem;    
    }

.before{padding-right: 2rem;}
.before::before{
    width: .1rem;
    height: .1.5rem;
    top:.5rem;
    padding-right: 1.6rem;
}

.hhover{font-size: .8rem;font-weight: 550; }
.responsive{
    width:7rem;
    height: 1.5rem;
    font-size:.7rem;   
}
}