* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  .joinsecContainer{width:100%;
    height:20rem;
   background-color: rgb(43, 153, 226);
    position: relative;
    }
    
    .joinsecBox{
        width:100%;
        display: flex;
        flex-direction: row;
    }
 

.joinsecTitle{
    width:66%;
    height: 20rem;
 display: flex;
 flex-direction: column;
 justify-content: center; 
 align-items: center;  
color:white;
border:1px solid red;
margin:auto;
} 

.joinsecBox h1{font-size:3.7rem;letter-spacing: .2rem;
    font-weight: 500;z-index: 11;}
.joinsecBox p{font-size: 1.8rem;font-weight: 400;}
.joinsbtn{
    width:34%;
    height:20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid green;
    margin: auto;
}

