*{margin:0;padding:0;box-sizing: border-box;}

html{font-size: 62.5%;}

.joinContainer{width:100%;
height:35rem;
background-image: url("../img/join.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
z-index:995;}

.joinBox {
    width:100%;
    height: 35rem;
    display: block;
    position: absolute;
    top:0;
    left:0;
    background-image:linear-gradient(to right,rgba(18, 18, 150, 0.54),rgba(90, 192, 23, 0.54))
}

.joinTitle{
    width:100%;
    height: 35rem;
 display: flex;
 flex-direction: column;
 justify-content: center; 
 align-items: center;  
color:white;
z-index: -1;
}

.joinBox h1{font-size:4rem;letter-spacing: .2rem;
    font-weight: 500;z-index: 11;}
.joinBox h2{font-size: 3.2rem;font-weight: 600;padding-top: 1rem;}

.joinBox .join{margin-top: 3rem;}



/* [[[[[[[[   MEDIA QUERY START ]]]]]]]] */


/* +++++++  MEDIA SCREEN MAX-WIDTH = 999PX  +++++++++ */

@media (max-width: 999px) {

    .joinContainer{
        height:35rem;
        }
        
        .joinBox {
            width:100%;
            height: 35rem;
        }
        
        .joinTitle{
            height: 35rem;
                 }
        
        .joinBox h1{font-size:3.9rem;letter-spacing: .2rem;}
        .joinBox h2{font-size: 3rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 3rem;}
        
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 893PX  +++++++++ */

@media (max-width: 893px) {
    
    .joinContainer{
        height:30rem;
        }
        
        .joinBox {
            width:100%;
            height: 30rem;
        }
        
        .joinTitle{
            height: 30rem;
                 }
        
        .joinBox h1{font-size:3.7rem;letter-spacing: .2rem;}
        .joinBox h2{font-size: 2.8rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 3rem;}

}



/* +++++++  MEDIA SCREEN MAX-WIDTH = 764PX  +++++++++ */

@media (max-width: 764px) {
    
    .joinContainer{
        height:27rem;
        }
        
        .joinBox {
            width:100%;
            height: 27rem;
        }
        
        .joinTitle{
            height: 27rem;
                 }
        
        .joinBox h1{font-size:3.3rem;letter-spacing: .2rem;}
        .joinBox h2{font-size: 2.4rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 3rem;}
        

}





/* +++++++  MEDIA SCREEN MAX-WIDTH = 664PX  +++++++++ */

@media (max-width: 664px) {
    
    .joinContainer{
        height:25rem;
        }
        
        .joinBox {
            width:100%;
            height: 25rem;
        }
        
        .joinTitle{
            height: 25rem;
                 }
        
        .joinBox h1{font-size:3.1rem;letter-spacing: .2rem;}
        .joinBox h2{font-size: 2.2rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 3rem;}

}


/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width: 599px) {
    
    .joinContainer{
        height:23rem;
        }
        
        .joinBox {
            width:100%;
            height: 23rem;
        }
        
        .joinTitle{
            height: 23rem;
                 }
        
        .joinBox h1{font-size:2.8rem;letter-spacing: .2rem;}
        .joinBox h2{font-size:1.9rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 2.5rem;}

}


/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width: 504px) {
    
    .joinContainer{
        height:21rem;
        }
        
        .joinBox {
            width:100%;
            height: 21rem;
        }
        
        .joinTitle{
            height: 22rem;
                 }
        
        .joinBox h1{font-size:2.5rem;letter-spacing: .2rem;}
        .joinBox h2{font-size:1.7rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 2.5rem;}

}




/* +++++++  MEDIA SCREEN MAX-WIDTH = 454PX  +++++++++ */

@media (max-width: 454px) {
    
    .joinContainer{
        height:18rem;
        }
        
        .joinBox {
            width:100%;
            height: 18rem;
        }
        
        .joinTitle{
            height: 18rem;
                 }
        
        .joinBox h1{font-size:2rem;letter-spacing: .2rem;}
        .joinBox h2{font-size:1.3rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 2.5rem;}
        .response{
            width:13rem;
            height: 2.8rem;
            font-size:1.5rem;   
        }

}


/* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */

@media (max-width: 354px) {
    
    .joinContainer{
        height:16rem;
        }
        
        .joinBox {
            width:100%;
            height: 16rem;
        }
        
        .joinTitle{
            height: 16rem;
                 }
        
        .joinBox h1{font-size:1.8rem;letter-spacing: .2rem;}
        .joinBox h2{font-size:1.2rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 2.5rem;}

}



/* +++++++  MEDIA SCREEN MAX-WIDTH = 304PX  +++++++++ */

@media (max-width: 304px) {
    
    .joinContainer{
        height:14rem;
        }
        
        .joinBox {
            width:100%;
            height: 14rem;
        }
        
        .joinTitle{
            height: 14rem;
                 }
        
        .joinBox h1{font-size:1.6rem;letter-spacing: .2rem;}
        .joinBox h2{font-size:1.1rem;font-weight: 560;}
        
        .joinBox .join{margin-top: 2rem;}

        .response{
            width:12rem;
            height: 2.3rem;
            font-size:1.4rem;   
        }

}



/* +++++++  MEDIA SCREEN MAX-WIDTH = 274PX  +++++++++ */

@media (max-width: 274px) {
    
    .joinContainer{
        height:13rem;
        }
        
        .joinBox {
            width:100%;
            height: 13rem;
        }
        
        .joinTitle{
            height: 13rem;
                 }
        
                 .joinBox h1{font-size:1.4rem;letter-spacing: .2rem;font-weight: 600;}
                 .joinBox h2{font-size:1rem;font-weight: 500;}
                 .joinBox .join{margin-top: 1.7rem;}
             .response{
                 width:11rem;
                 height: 2.2rem;
                 font-size:1.2rem;   
             }

}


