.whatWeCon {
  width: 100%;
  height: 46rem;
  text-align: center;
}
.whatWeChield {
  margin-left: 3rem;
}
.whatDoText {
  font-size: 3.5rem;
  margin: 3rem;
}
.doSpanText {
  color: rgb(238, 99, 44);
}
.serPlanCon {
  width: 26rem;
  height: 33rem;
  display: inline-block;
}
.setPlanChield {
  width: 26rem;
  height: 33rem;
}
.serPlanCon:hover {
  transform: scale(1.1, 1.1);
}

.serPlanBox {
  width: 22rem;
  height: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem grey,
    -0.2rem -0.2rem 0.3rem 0.3rem grey;
  border-radius: 0.5rem;
}
.serPlanIconBox {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 99, 44);
  margin: 1rem 0;
}
.planIcon {
  font-size: 4.6rem;
  color: white;
}

.serPlanTitle {
  font-size: 2.8rem;
  margin: 0.5rem;
  font-weight: 200;
}
.serPlanPgh {
  width: 19rem;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 100;
}
.serPlanBtn {
  margin: 2rem;
  padding: 1rem 2.5rem;
  background-color: rgb(238, 99, 44);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  color: white;
  font-size: 1.5rem;
}
.serPlanBtn:hover {
  border: 2px solid rgb(238, 99, 44);
  background-color: white;
  color: rgb(238, 99, 44);
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 1110PX  +++++++++ */

@media (max-width: 1100px) {
  .whatWeCon {
    width: 100%;
    height: 46rem;
  }
  .whatWeChield {
    margin-left: 2rem;
  }

  .serPlanCon {
    width: 23rem;
    height: 33rem;
  }

  .serPlanBox {
    width: 21rem;
    height: 30rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 999PX  +++++++++ */

@media (max-width: 999px) {
  .whatWeCon {
    width: 100%;
    height: 43rem;
  }
  .whatWeChield {
    margin-left: 2rem;
  }
  .whatDoText {
    font-size: 3.5rem;
    margin: 2.5rem;
  }

  .serPlanCon {
    width: 21rem;
    height: 32rem;
  }

  .serPlanBox {
    width: 19rem;
    height: 29rem;
  }
  .serPlanIconBox {
    width: 8.5rem;
    height: 8.5rem;
    margin: 1rem 0;
  }
  .planIcon {
    font-size: 4.3rem;
  }

  .serPlanTitle {
    font-size: 2.6rem;
    margin: 0.5rem;
  }
  .serPlanPgh {
    width: 15rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .serPlanBtn {
    margin: 1.5rem;
    padding: 0.8rem 2.3rem;
    font-size: 1.5rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 893PX  +++++++++ */

@media (max-width: 895px) {
  .whatWeCon {
    width: 100%;
    height: 75rem;
  }
  .whatWeChield {
    margin-left: 2rem;
  }
  .whatDoText {
    font-size: 3.5rem;
    margin: 2.5rem;
  }

  .serPlanCon {
    width: 23rem;
    height: 32rem;
  }

  .serPlanBox {
    width: 21rem;
    height: 29rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 774PX  +++++++++ */

@media (max-width: 774px) {
  .whatWeCon {
    width: 100%;
    height: 73rem;
  }

  .serPlanCon {
    width: 27rem;
    height: 32rem;
  }
  .setPlanChield {
    width: 27rem;
    height: 32rem;
  }
  .serPlanBox {
    width: 24rem;
    height: 29rem;
  }

  .planIcon {
    font-size: 4.5rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 599PX  +++++++++ */

@media (max-width: 599px) {
  .serPlanCon {
    width: 23rem;
    height: 30rem;
  }
  .setPlanChield {
    width: 23rem;
    height: 30rem;
  }
  .serPlanBox {
    width: 21rem;
    height: 28rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 504PX  +++++++++ */

@media (max-width: 504px) {
  .whatWeCon {
    width: 100%;
    height: 70rem;
  }
  .whatWeChield {
    margin-left: 2rem;
  }
  .whatDoText {
    font-size: 3.3rem;
    margin: 2rem;
  }

  .serPlanCon {
    width: 20rem;
    height: 29rem;
  }
  .setPlanChield {
    width: 20rem;
    height: 29rem;
  }
  .serPlanBox {
    width: 18rem;
    height: 27rem;
  }
  .serPlanIconBox {
    width: 8rem;
    height: 8rem;
    margin: 1rem 0;
  }
  .planIcon {
    font-size: 4rem;
  }

  .serPlanTitle {
    font-size: 2.3rem;
    margin: 0.5rem;
  }
  .serPlanPgh {
    width: 15rem;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .serPlanBtn {
    margin: 1.5rem;
    padding: 0.6rem 2rem;
    font-size: 1.4rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 454PX  +++++++++ */

@media (max-width: 454px) {
  .whatWeCon {
    width: 100%;
    height: 61rem;
  }
  .whatWeChield {
    margin-left: 2rem;
  }
  .whatDoText {
    font-size: 3.1rem;
    margin: 1.5rem;
  }

  .serPlanCon {
    width: 18rem;
    height: 26rem;
  }
  .setPlanChield {
    width: 18rem;
    height: 26rem;
  }
  .serPlanBox {
    width: 16rem;
    height: 24rem;
  }
  .serPlanIconBox {
    width: 7.5rem;
    height: 7.5rem;
    margin: 0.8rem 0;
  }
  .planIcon {
    font-size: 3.8rem;
  }

  .serPlanTitle {
    font-size: 2.1rem;
    margin: 0.4rem;
  }
  .serPlanPgh {
    width: 14rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .serPlanBtn {
    margin: 1.5rem;
    padding: 0.5rem 1.8rem;
    font-size: 1.4rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 404PX  +++++++++ */

@media (max-width: 404px) {
  .whatWeCon {
    width: 100%;
    height: 52.5rem;
  }
  .whatWeChield {
    margin-left: 1rem;
  }
  .whatDoText {
    font-size: 2.8rem;
    margin: 1rem;
  }

  .serPlanCon {
    width: 16rem;
    height: 22rem;
  }
  .setPlanChield {
    width: 16rem;
    height: 22rem;
  }
  .serPlanBox {
    width: 15rem;
    height: 20rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem grey,
      -0.1rem -0.1rem 0.2rem 0.2rem grey;
  }
  .serPlanIconBox {
    width: 7.2rem;
    height: 7.2rem;
    margin: 0.5rem 0;
  }
  .planIcon {
    font-size: 3rem;
  }

  .serPlanTitle {
    font-size: 2rem;
    margin: 0.4rem;
  }
  .serPlanPgh {
    width: 13rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .serPlanBtn {
    margin: 1.5rem;
    padding: 0.5rem 1.3rem;
    font-size: 1.3rem;
  }
}

/* +++++++  MEDIA SCREEN MAX-WIDTH = 354PX  +++++++++ */

@media (max-width: 354px) {
  .whatWeCon {
    width: 100%;
    height: 91rem;
  }
  .whatWeChield {
    margin-left: 1rem;
  }
  .whatDoText {
    font-size: 2.5rem;
    margin: 1rem;
  }

  .serPlanCon {
    width: 18rem;
    height: 21rem;
  }
  .setPlanChield {
    width: 18rem;
    height: 21rem;
  }
  .serPlanBox {
    width: 16rem;
    height: 19rem;
    box-shadow: 0.2rem 0.2rem 0.3rem 0.3rem grey,
      -0.2rem -0.2rem 0.3rem 0.3rem grey;
  }
  .serPlanIconBox {
    width: 7rem;
    height: 7rem;
    margin: 0.5rem 0;
  }
  .planIcon {
    font-size: 3rem;
  }

  .serPlanTitle {
    font-size: 1.8rem;
    margin: 0.4rem;
  }
  .serPlanPgh {
    width: 12rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  .serPlanBtn {
    margin: 1.2rem;
    padding: 0.4rem 1.1rem;
    font-size: 1.2rem;
  }
}
